
// Preloader
.progress {
    margin-bottom: 15px;
    .progress-bar {
        width: 100%;
    }
}

.sidebar {
    .user-panel {
        .info {
            a {
                font-size: 23px;
                font-weight: bold;
            }
        }
    }
}
.nm-sidebar {
    margin-bottom: 4rem;
}

.content-wrapper {
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .nm-content {
        .add-btn {
            float: right;
            margin-bottom: 20px;
            border-radius: 0px;
        }
        table {
            tbody {
                tr {
                    td {
                        text-transform: capitalize;
                    }
                }
            }
        }
        .nm-select-field {
            margin-bottom: 15px;
            .form-control {
                padding: 0;
                height: 40px;
            }
            .nm-select-box {
                z-index: 99;
                margin-bottom: 1rem;
                padding: 0;
                border: 0;
                .css-yk16xz-control {
                    border-color: transparent;
                    height: 37px;
                }
            }
        } 
        
        .form-row > [class*=col-] {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.login-page {
    .login-box {
        .login-logo {
            img {
                width: 230px;
            }
        }
    }
}

// Breadcrumbs
.breadcrumbs-wrapper{
    .breadcrumbs-title {
        text-transform: capitalize;
        font-weight: bolder;
    }
    .breadcrumb {
        width: 185px;
        display: inline-flex;
        a {
            text-transform: capitalize;
        }
    }
    .active.breadcrumb {
        width: 180px;
    }
    .first-item::after {
        content: '/';
        color: #000;
        padding: 0 8px;
    }
}

//Sidebar
.main-sidebar {
    background-color: #0e3d69;
    .brand-logo {
        height: 100px;
        img {
            position: relative;
            bottom: 5px;
        }
    }
    .sidebar {
        top: 53px;
    }
}
// table action
.action {
    position: relative;
    .nm-delete-btn {
        margin-left: 8px;
    }
}
.action .tooltip-text {
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 0%;
}
.action .tooltip-full {
    left: -55% !important;
}
.action .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-text a:hover {
    color: #fff;
    text-decoration: underline;
}

.nm-uploader {
    .preview-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 16px;
        .thumbInner {
            display: inline-flex;
            border-radius: 2px;
            border: 1px solid #eaeaea;
            margin-bottom: 8px;
            margin-right: 8px;
            width: 120px;
            height: 120px;
            padding: 4px;
            box-sizing: border-box;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.nm-news-content {
    table {
        .news-title, .news-content {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

    .nm-news-edit {
        .alert {
            padding: 15px;
            background-color: #ffaa2c;
            color: white;
            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: #000;
                }
            }
        }
        .translate-btn {
            margin-left: 10px;
        }
    }